
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welkom op de Blinde Muren website. Log eerst in om uw muren te bekijken en om eventueel aanpassen/toevoegen.</h2>

