@model BlindWalls.Models.StatsModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statisieken over de website</h2>


    Gebruikers online op dit moment: @Html.DisplayFor(model => model.loggedIn)
    <br />
    Aantal zoekopdrachten door admins: @Html.DisplayFor(model => model.amountSearch)
